.darkmain{
    font-size: x-large;
    align-content: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #A7D129;
    background-color: #000000;
}
.darkplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}
.darkicon{
    stroke: #A7D129;
    fill: #A7D129;
    padding: 20px;
    border-radius: 50px ;
    border: 5px #829b36 solid ;
    width: 30px;
    height: 30px;
}
.pauseicon{
    fill: #A7D129;
    padding: 20px;
    border-radius: 50px;
    border: 5px #829b36 solid;
    width: 30px;
    height: 30px;
}
.restarticon{
    color: #A7D129;
    padding: 20px;
    border-radius: 50px;
    border: 5px #829b36 solid;
    width: 30px;
    height: 30px;
}
.show{
    box-shadow: #829b36 0px 0px 8px 8px;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    display: grid;
    border-radius: 400px 200px ;
    height: 400px;
    width: 400px;
}
.restart{
    padding-top: 150px;
}
.handlebtn{
    justify-content: center;
    width: 400px;
    margin-top: 50px;
    display: flex;
}
.flagshow{
    justify-content: center;
    display: grid;
}